if isAuthenticated 
    .profile 
        .profile-img 
            img(src="", alt="")
        .profile-info
            h3 @#{currentUser.username}
            p #{currentUser.firstname} #{currentUser.lastname}