@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// COLOR
$primary-color: #00acee;
$primary-color-dark: #0078a8;
$secondary-color: #dfe6e9;
$secondary-color-dark: #b2bec3;
$bg: #ddd;

// FONT
$font-family: 'Montserrat', sans-serif;
$text-color: #333;

// SHADOW
$box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

// SCREEN VAR
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 979px;
$screen-xl: 1200px;